* {
    border: none;
    border-radius: 10;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #11111b;
    border: 1px solid #9399b2;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces {
    background: #11111b;
    padding: 0px 5px;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    background: #1e1e2e;
    color: transparent;
    margin: 5 5 5 5;
    min-width: 25px;
    padding: 0;
    border-radius: 50%;
}

#workspaces button.active {
    min-width: 30px;
    min-height: 20px;
    border: none;
    border-radius: 15px;
    color: #11111b;
    background-color: #74c7ec;
    padding: 0 10px;
}

#clock,
#mpris,
#pulseaudio,
#custom-weather,
#cpu,
#memory,
#idle_inhibitor,
#custom-screenshot,
#custom-powermenu {
    margin: 0 5px;
    padding: 0px 10px;
    border-radius: 20px;
    color: black;
}

#clock {
    background-color: #f9e2af;
    font-weight: 700;
}

#pulseaudio {
    background-color: #89dceb;
}

#cpu {
    background-color: #b4befe;
}

#idle_inhibitor {
    background-color: #f38ba8;
}

#memory {
    background-color: #f5c2e7;
}

#custom-powermenu {
    background-color: #e64553;
}

#mpris {
    background-color: #a6e3a1;
}

#custom-weather {
    background-color: #89b4fa;
}

#custom-screenshot {
    background-color: #f9e2af;
}
